# Lab practice: Essential functionality in Pandas

In this lab, you will apply Panda DataFrame objects to work with tabular data and write queries to retrieve data from a DataFrame.

Learning objectives:

1. Create dataframes from generated data
2. Working with tabular data

In [1]:
import pandas as pd
import numpy as np

## Part I: Creating dataframes from generated data

### Problem 1: Creating a dataframe from a sequence

Create a dataframe of 10 rows and 10 columns filled with a sequence of integers from 0 to 99. Name the columns with the prefix 'col_' followed by an integer starting from 1 indicating the position of the column.

In [2]:
# YOUR SOLUTION

In [3]:
# Example of expected output

print("""
	col_1	col_2	col_3	col_4	col_5	col_6	col_7	col_8	col_9	col_10
0	0	1	2	3	4	5	6	7	8	9
...
9	90	91	92	93	94	95	96	97	98	99
""")

	col_1	col_2	col_3	col_4	col_5	col_6	col_7	col_8	col_9	col_10
0	0	1	2	3	4	5	6	7	8	9
...
9	90	91	92	93	94	95	96	97	98	99

### Problem 2: Creating a dataframe from random integers

Create a dataframe of 5 rows and 10 columns filled with random integers from 1 to 100. Regarding the index,
- Name the columns with the prefix 'col_' followed by an integer starting from 1 indicating the position of the column.
- Name the rows with the labels: *a*, *b*, *c*, *d*, and *e*.

Useful links:
- https://numpy.org/devdocs/reference/random/generated/numpy.random.randint.html

In [5]:
# Example of expected output

print("""
	col_1	col_2	col_3	col_4	col_5	col_6	col_7	col_8	col_9	col_10
a	97	58	26	92	7	99	49	92	56	85
b	88	24	22	72	54	49	89	80	77	49
...
""")

	col_1	col_2	col_3	col_4	col_5	col_6	col_7	col_8	col_9	col_10
a	97	58	26	92	7	99	49	92	56	85
b	88	24	22	72	54	49	89	80	77	49
...

In [6]:
# YOUR SOLUTION

### Problem 3: Dropping a column

Create a new DataFrame by dropping the column *col_10* from the random integers DataFrame.

In [8]:
# YOUR SOLUTION

### Problems 4-5: Filtering

Retrieve all rows and columns where the column 'col_1' value is greater than 50.

In [10]:
# Example of expected output

print("""
	col_1	col_2	col_3	col_4	col_5	col_6	col_7	col_8	col_9	col_10
a	76	81	41	82	88	5	82	8	46	65
c	65	93	53	76	69	48	33	22	90	29 
...
""")

	col_1	col_2	col_3	col_4	col_5	col_6	col_7	col_8	col_9	col_10
a	76	81	41	82	88	5	82	8	46	65
c	65	93	53	76	69	48	33	22	90	29
...

In [11]:
# YOUR SOLUTION

Retrieve all rows and the last 5 columns where the column 'col_6' value is even.

In [13]:
# Example of expected output

print("""
	col_6	col_7	col_8	col_9	col_10
c	48	33	22	90	29
d	18	29	18	24	63
""")

	col_6	col_7	col_8	col_9	col_10
c	48	33	22	90	29
d	18	29	18	24	63

In [14]:
# YOUR SOLUTION

## Part II: Working with tabular data

For the following problems, you will be working with a dataset from NYC about causes of death from 2007 to 2014. The dataset is in CSV format. We are interested in the following fields:
 - Year
 - Ethnicity
 - Sex
 - Cause of Death
 
The end goal is to determine the leading causes of death for males and females, according to the data.

Load the dataset:

In [18]:
df_original = pd.read_csv('data/nyc_deaths.csv')
df_original.head()

,Year,Cause of Death,Sex,Ethnicity,Count,Death Rate,Age Adjusted Death Rate
0,2010,Influenza (Flu) and Pneumonia (J09-J18),F,Hispanic,228,18.7,23.1
1,2008,"Accidents Except Drug Posioning (V01-X39, X43,...",F,Hispanic,68,5.8,6.6
2,2013,"Accidents Except Drug Posioning (V01-X39, X43,...",M,White Non-Hispanic,271,20.1,17.9
3,2010,Cerebrovascular Disease (Stroke: I60-I69),M,Hispanic,140,12.3,21.4
4,2009,"Assault (Homicide: Y87.1, X85-Y09)",M,Black Non-Hispanic,255,30,30

Number of rows and attributes:

In [19]:
df_original.shape

(1094, 7)

### Problem 6: Data cleaning

Before using the data for doing any analysis, your first need to perform some cleaning operations. 

Apply your current knowledge on manipulating data in a DataFrame to construct a new DataFrame with the following characteristics:
1. The Death Rate and Age Adjusted Death Rate columns removed
2. All records in the Count column as a number. Notice that in the original dataset, some values contain a dot, i.e., '.'
3. The Count column is a number

For completing the last task, you can use the [pandas.to_numeric](https://pandas.pydata.org/docs/reference/api/pandas.to_numeric.html) function. For example,

`df['Count'] = pd.to_numeric(df['Count'])`

Although the code above is correct, you may see a warning raised about how Pandas internally manages the assignment of DataFrame values.

To avoid the warning, you can execute the equivalent code:

`df = df_original.copy()
df.loc[:, 'Count'] = pd.to_numeric(df['Count'])`

You can read more about the details at the following link:

https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

In [20]:
# Example of expected output

print("""
	Year	Cause of Death	Sex	Ethnicity	Count
0	2010	Influenza ...	F	Hispanic	228
1	2008	Accidents ...	F	Hispanic	68
2	2013	Accidents ...	M	White...	271
3	2010	Cerebrov...	M	Hispanic	140
4	2009	Assault ...	M	Black ...	255
...
""")

	Year	Cause of Death	Sex	Ethnicity	Count
0	2010	Influenza ...	F	Hispanic	228
1	2008	Accidents ...	F	Hispanic	68
2	2013	Accidents ...	M	White...	271
3	2010	Cerebrov...	M	Hispanic	140
4	2009	Assault ...	M	Black ...	255
...

In [21]:
# YOUR SOLUTION

Now that you have cleared out all incomplete and useless values, the data is ready to answer some questions. Answer the questions made in each problem.

### Problem 7: How many male records and how many female records are there in the data?

In [27]:
# YOUR SOLUTION

### Problem 8: What ethnicities are included in the data for females?

Useful links:
- https://pandas.pydata.org/docs/reference/api/pandas.Series.unique.html

In [30]:
# YOUR SOLUTION

### Problem 9:  What are the three most frequent causes of death? 

To answer this question, list causes of death by their frequencies in descending order.

Useful links:

https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.DataFrame.groupby.html

The groupby function behaves very similarlty to the GROUP BY clause in SQL. The groupby function combines records with the same value and it usually involves an arithmetic operation that dictates how to aggregate multiple values:

`
data_frame = pd.DataFrame(
    [{'player': 'james', 'score':30}, {'player': 'james', 'score':20}, {'player': 'michael', 'score':30}])
grouped_data_frame = data_frame.groupby(['player']).sum()`

*groupby* creates a new DataFrame with rows representing the results of the aggregation in each column.

In [32]:
# YOUR SOLUTION

In [33]:
# Example of expected output

print("""
			Count
Cause of Death	
Diseases of Heart ...	147551
Malignant Neoplasms ...	106367
All Other Causes	77999
""")

			Count
Cause of Death
Diseases of Heart ...	147551
Malignant Neoplasms ...	106367
All Other Causes	77999

### Problem 10:  Are there differences in the leading causes of death among males and females?

To answer this question, you can compute distinct DataFrames for males and females and compare the leading causes of death by looking at the ten most frequent causes of death in each group. Try to come up with a statement similar to the observation made at the end of this cell.      

Comparing the leading causes of death in each group may be difficult if the data for both groups live in different DataFrames. We will cover later how to combine multiple DataFrames. You can try the following code that combines two DataFrames:

`pd.merge(m_leading_death, f_leading_death, suffixes=('_male', '_female'), on="Cause of Death", how='outer')`

The *merge* function works like a JOIN operation in SQL. For this function to work, both DataFrames must have the same structure and have similar values on the "Cause of Death" column, which in this case, it is also the row index. Having all the data in the same DataFrame makes it easier to compare both groups and make observations.

> For example, you may find that Mental and Behavioral Disorders are a leading cause of death in men, but not in women, according to the top 10 leading causes of death for both groups in the data.

In [35]:
# YOUR SOLUTION