# Lab practice: Essential functionality in Pandas

In [2]:
import pandas as pd
import numpy as np

## Creating dataframes

### 1. Create a dataframe with random data

In [24]:
col_index=['col' + str(i) for i in range(1,11)]

df = pd.DataFrame(
    np.arange(100).reshape((10,10)),
    columns=col_index
)

df

   col1  col2  col3  col4  col5  col6  col7  col8  col9  col10
0     0     1     2     3     4     5     6     7     8      9
1    10    11    12    13    14    15    16    17    18     19
2    20    21    22    23    24    25    26    27    28     29
3    30    31    32    33    34    35    36    37    38     39
4    40    41    42    43    44    45    46    47    48     49
5    50    51    52    53    54    55    56    57    58     59
6    60    61    62    63    64    65    66    67    68     69
7    70    71    72    73    74    75    76    77    78     79
8    80    81    82    83    84    85    86    87    88     89
9    90    91    92    93    94    95    96    97    98     99

### 2

In [29]:
df.drop('col10', axis=1)

   col1  col2  col3  col4  col5  col6  col7  col8  col9
0     0     1     2     3     4     5     6     7     8
1    10    11    12    13    14    15    16    17    18
2    20    21    22    23    24    25    26    27    28
3    30    31    32    33    34    35    36    37    38
4    40    41    42    43    44    45    46    47    48
5    50    51    52    53    54    55    56    57    58
6    60    61    62    63    64    65    66    67    68
7    70    71    72    73    74    75    76    77    78
8    80    81    82    83    84    85    86    87    88
9    90    91    92    93    94    95    96    97    98

### 3

In [18]:
df[df['col1'] > 50]

   col1  col2  col3  col4  col5  col6  col7  col8  col9  col10
6    60    61    62    63    64    65    66    67    68     69
7    70    71    72    73    74    75    76    77    78     79
8    80    81    82    83    84    85    86    87    88     89
9    90    91    92    93    94    95    96    97    98     99

### 4

In [19]:
df[['col1', 'col2']][df['col1'] > 50]

   col1  col2
6    60    61
7    70    71
8    80    81
9    90    91

### 4. Create a dataframe with the following information:

### Shuffle rows in a dataframe an split into three substets: 10%, 70%, 20%